<screen>
	<styles>
		<style name="style_main" text_font="NS_Regular_16" bg_color="0xffffff" />
	</styles>
	<view>
		<style name="style_main" />
		<status_bar />
		<lv_image name="m_icon" src="ic_notifications" align="center" />
		<lv_label
			name="m_text"
			translation_tag="notifications"
			align="bottom_mid"
			y="-10"
			style_text_font="NS_Bold_20"
		/>
	</view>
</screen>
