<screen>
	<styles>
		<style name="style_main" text_font="NS_Regular_16" bg_color="0xffffff" text_color="0x000000" />
		<style
			name="style_cont"
			width="100%"
			height="175"
			pad_all="0"
			pad_row="0"
			border_width="0"
			text_color="0x000000"
			text_font="NS_Regular_16"
		/>
		<style name="style_list" layout="flex" flex_flow="column" />
		<style name="style_chart" width="200" height="100" border_width="0" radius="0" pad_column="2" />
		<style name="style_bar" width="180" height="30" radius="5" bg_opa="0" border_width="4" />
		<style name="style_bar_indicator" radius="5" bg_color="0x000000" />
	</styles>
	<view>
		<style name="style_main" />
		<status_bar />

		<!-- SETTINGS VIEW (0) -->
		<lv_obj y="25">
			<style name="style_cont" />
			<style name="style_list" />
			<bind_flag_if_not_eq subject="subject_settings_view" flag="hidden" ref_value="0" />
			<list_item icon="ic_bluetooth" text="Interval" index="0" />
			<list_item icon="ic_configs" text="Configs" index="1" />
			<list_item icon="ic_battery" text="Battery" index="2" />
			<list_item icon="ic_storage" text="Storage" index="3" />
			<list_item icon="ic_info" text="About" index="4" />
		</lv_obj>

		<!-- INTERVAL VIEW (1) -->
		<lv_obj y="25">
			<style name="style_cont" />
			<bind_flag_if_not_eq subject="subject_settings_view" flag="hidden" ref_value="1" />

			<lv_label align="top_mid" width="180" y="5" text="BLE connect interval" style_text_font="NS_Bold_20" />
			<lv_label align="top_mid" width="180" y="50" text="NB: Connection to the phone is not always guaranteed" />
			<lv_label name="s_interval" align="top_mid" text="10 mins" y="130" style_text_font="NS_Bold_30" />
		</lv_obj>

		<!-- CONFIGS VIEW (2) -->
		<lv_obj y="25" x="0">
			<style name="style_cont" />
			<bind_flag_if_not_eq subject="subject_settings_view" flag="hidden" ref_value="2" />

			<lv_label align="top_mid" width="190" y="5" text="These can be changed from Chronos app" />
			<lv_label
				name="s_configs"
				align="top_mid"
				width="190"
				y="50"
				text="Sleep time: 22:00 - 0700&#10;24 hour mode&#10;Temp units: C&#10;Distance units: miles&#10;Display: Dark"
			/>
		</lv_obj>

		<!-- BATTERY VIEW (3) -->
		<lv_obj y="25">
			<style name="style_cont" />
			<bind_flag_if_not_eq subject="subject_settings_view" flag="hidden" ref_value="3" />
			<lv_label name="a_date" text="Today" align="top_mid" y="0" />
			<lv_chart name="bar_chart" type="bar" y="22" point_count="24" hor_div_line_count="0" ver_div_line_count="0">
				<style name="style_chart" />
				<lv_chart-axis axis="primary_y" min_value="0" max_value="100" />
				<lv_chart-series
					color="0x000000"
					axis="primary_y"
					values="60 43 34 24 38 54 54 20 45 0 25 56 80 34 65 45 56 50 35 15 34 65 25 56"
				/>
			</lv_chart>

			<lv_label
				align="bottom_left"
				x="10"
				y="-10"
				bind_text="subject_battery"
				bind_text-fmt="%d%%"
				style_text_font="NS_Bold_20"
			/>

			<lv_label
				align="bottom_right"
				x="-10"
				y="-10"
				bind_text="subject_voltage"
				bind_text-fmt="%dmV"
				style_text_font="NS_Bold_20"
			/>
		</lv_obj>

		<!-- STORAGE VIEW (4) -->
		<lv_obj y="25">
			<style name="style_cont" />
			<bind_flag_if_not_eq subject="subject_settings_view" flag="hidden" ref_value="4" />

			<lv_label name="s_total" x="10" y="10" text="1334kB" style_text_font="NS_Regular_20" />
			<lv_bar name="s_bar" value="50" align="top_mid" y="30">
				<style name="style_bar" />
				<style name="style_bar_indicator" selector="indicator" />
			</lv_bar>
			<lv_label name="s_used" x="10" y="64" text="134kB&#10;used" />
			<lv_label name="s_free" align="top_right" x="-10" y="65" style_text_align="right" text="954kB&#10;free" />

			<lv_label
				text="Data Records"
				align="top_mid"
				y="105"
				style_text_font="NS_Regular_20"
				style_text_decor="underline"
			/>

			<lv_label name="s_steps" x="10" y="130" text="Steps&#10;21" />
			<lv_label
				name="s_battery"
				x="-10"
				y="130"
				align="top_right"
				style_text_align="right"
				text="Battery&#10;21"
			/>
		</lv_obj>

		<!-- ABOUT VIEW (5) -->
		<lv_obj y="25">
			<style name="style_cont" />
			<bind_flag_if_not_eq subject="subject_settings_view" flag="hidden" ref_value="5" />

			<lv_image src="ic_chronos_40" x="10" y="10" />
			<lv_label text="Chronos&#10;Watchy" x="60" y="10" style_text_font="NS_Bold_20" />
			<lv_label name="about_version" text="v1.0.0 (20251018)" x="10" y="60" />
			<lv_label text="" bind_text="subject_address" x="10" y="80" />
			<lv_label name="about_ch_esp" text="ChronosESP32 v1.8.2" x="10" y="110" />
			<lv_label name="about_ch_app" text="Chronos v3.8.5 (53)&#10;Last sync: 2h 34m ago" x="10" y="130" />
		</lv_obj>
	</view>
</screen>
